.content{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:13px;
  color:red;
  background-color:blanchedalmond;
margin: 0;
padding: auto;

}
.box1{
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  padding: 13px 20px 30px 10px;
  border: 10px solid gold;
  margin: 200px 0px 10px 60px;
  float:left;
}
.box2{
  width: 200px;
  height: 300px;
  background-color: antiquewhite;
  padding: 13px 20px 30px 10px;
  border: 10px solid red;
  margin:0px 100px 200px;
  float:left;
}